[Unit]
Description=Run Mutual Fund Bhavcopy Downloading using MFBC Script with Cleanup

[Service]
WorkingDirectory=/home/vijay/NBBC
ExecStart=/bin/bash -c "git fetch origin main && git reset --hard origin/main && git clean -fd && /usr/bin/python3 MFBC_github.py"
StandardOutput=append:/home/vijay/NBBC/mfbc.log
StandardError=append:/home/vijay/NBBC/mfbc.log
