[Unit]
Description=Run NBBC Script to Download NSE and BSE Bhavcopy with GitHub sync and cleanup

[Service]
WorkingDirectory=/home/vijay/NBBC
ExecStart=/bin/bash -c "git fetch origin main && git reset --hard origin/main && git clean -fd && /usr/bin/python3 NBBC_github.py"
StandardOutput=append:/home/vijay/NBBC/nbbc.log
StandardError=append:/home/vijay/NBBC/nbbc.log
